{% extends 'base.html' %}

{% block content %}

<div class="card">
    <h2>Driver Balance</h2>
    <h1>₹ {{ balance }}</h1>
    <p>Added: ₹{{ total_add }} | Paid: ₹{{ total_pay }}</p>
</div>

<a href="/add/" class="fab">+</a>

{% for e in object_list %}
<div class="card">
    {% if e.type == "ADD" %}
        <p style="color:green;">+ ₹{{ e.amount }}</p>
    {% else %}
        <p style="color:red;">- ₹{{ e.amount }}</p>
    {% endif %}
    <small>{{ e.date }}</small>
    <!-- 🔥 DELETE BUTTON -->
    <form action="/delete/{{ e.id }}/" method="post" style="margin-top:10px;">
        {% csrf_token %}
        <button style="background:red; color:white;">Delete</button>
    </form>
</div>
{% endfor %}

{% endblock %}